# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-trino==5.7.0
apache-airflow-providers-snowflake
apache-airflow-providers-amazon
boto3
python-dotenv
requests
astronomer-cosmos
pyiceberg
pyiceberg_core
pyarrow>=17.0.0
sec-api
